%article.first
  %a.single
    %blockquote
      %h3 Карпати - місце, де зупинився час
      %footer by Stanislav Avtoritet

%article.second
  %a.single
    %blockquote
      %h3 Станислав авторитет
      %footer by Крыса

%article.third
  %a.single
    %blockquote
      %h3 Имитация Станислава авторитета
      %footer by Бобыр и Крыса
