.container-fluid
  .row
    #geology.no-padding.col-xs-6
      #carousel-geology.carousel.slide{"data-ride" => "carousel"}
        / Indicators
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#carousel-geology"}
          %li{"data-slide-to" => "1", "data-target" => "#carousel-geology"}
          %li{"data-slide-to" => "2", "data-target" => "#carousel-geology"}

        / Wrapper for slides
        .carousel-inner
          / Pattern
          .item-pattern-black
          / Category
          %a.category
            %h2 Місця
          / Items
          %a.item.active.four
            .carousel-caption
              %h3 Карпати - місце, де зупинився час
              %p Ця історія почалася дуже давно...
          .item.five
            .carousel-caption
              %h3 Я тут був. Тут був мій дід.
              %p Ця історія почалася дуже давно...
          .item.six
            .carousel-caption
              %h3 Карпати - інші міри
              %p Ця історія почалася дуже давно...

    #history.col-xs-6.no-padding
      #carousel-history.carousel.slide{"data-ride" => "carousel"}
        / Indicators
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#carousel-history"}
          %li{"data-slide-to" => "1", "data-target" => "#carousel-history"}
          %li{"data-slide-to" => "2", "data-target" => "#carousel-history"}

        / Wrapper for slides
        .carousel-inner
          / Pattern
          .item-pattern-black
          / Category
          %a.category
            %h2 Історія
          / Items
          .item.active.seven
            .carousel-caption
              %h3 Карпати - місце, де зупинився час
              %p Ця історія почалася дуже давно...
          .item.eight
            .carousel-caption
              %h3 Я тут був. Тут був мій дід.
              %p Ця історія почалася дуже давно...
          .item.nine
            .carousel-caption
              %h3 Карпати - інші міри
              %p Ця історія почалася дуже давно...

  .row
    #flora.col-xs-12.no-padding
      #carousel-flora.carousel.slide{"data-ride" => "carousel"}
        / Indicators
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#carousel-flora"}
          %li{"data-slide-to" => "1", "data-target" => "#carousel-flora"}
          %li{"data-slide-to" => "2", "data-target" => "#carousel-flora"}

        / Wrapper for slides
        .carousel-inner
          / Pattern
          .item-pattern-black
          / Category
          %a.category
            %h2 Рослини
          .item.active.ten
            .carousel-caption
              %h3 Карпати - місце, де зупинився час
              %p Ця історія почалася дуже давно...
          .item.eleven
            .carousel-caption
              %h3 Я тут був. Тут був мій дід.
              %p Ця історія почалася дуже давно...
          .item.twelve
            .carousel-caption
              %h3 Карпати - інші міри
              %p Ця історія почалася дуже давно...