.container-fluid
  .row
    %ol.breadcrumb
      %li
        %a Головна
      %li.active
        Місця
  .row
    .col-xs-4.no-padding
      .thumbnail.first
        .caption
          %h3
            %a Карпати - місце, де зупинився час
          %p
            %a Ця історія почалася дуже давно...
    .col-xs-4.no-padding
      .thumbnail.second
        .caption
          %h3
            %a Карпати - інші міри
          %p
            %a Ця історія почалася дуже давно...
    .col-xs-4.no-padding
      .thumbnail.third
        .caption
          %h3
            %a Я тут був. Тут був мій дід.
          %p
            %a Ця історія почалася дуже давно...
    .col-xs-4.no-padding
      .thumbnail.four
        .caption
          %h3
            %a Карпати - місце, де зупинився час
          %p
            %a Ця історія почалася дуже давно...
    .col-xs-4.no-padding
      .thumbnail.five
        .caption
          %h3
            %a Карпати - інші міри
          %p
            %a Ця історія почалася дуже давно...
    .col-xs-4.no-padding
      .thumbnail.six
        .caption
          %h3
            %a Я тут був. Тут був мій дід.
          %p
            %a Ця історія почалася дуже давно...
    .col-xs-4.no-padding
      .thumbnail.seven
        .caption
          %h3
            %a Карпати - місце, де зупинився час
          %p
            %a Ця історія почалася дуже давно...
    .col-xs-4.no-padding
      .thumbnail.eight
        .caption
          %h3
            %a Карпати - інші міри
          %p
            %a Ця історія почалася дуже давно...
    .col-xs-4.no-padding
      .thumbnail.nine
        .caption
          %h3
            %a Я тут був. Тут був мій дід.
          %p
            %a Ця історія почалася дуже давно...