.main {
  height: 100%;
  position: relative;

  [class*="col-"] {
    padding-left:0;
    padding-right:0;
  }

  .main__article {
    &.first {
      background: asset_url('static/1.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    &.second {
      background: asset_url('static/2.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    &.third {
      background: asset_url('static/3.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    height: 100%;
    width: 100%;
    position: absolute;

    a {
      cursor: pointer;
      position: absolute;
      bottom: 10%;
      left: 10%;
      text-decoration: none;
      color: #fff;

      blockquote {
        h3 { margin-top: 0; }
        footer { color: #fff; }
      }

      &:hover {
        margin-bottom: -1px;
      }
    }
  }
}
