.message {
  color: #000;
  padding: 50px 0;

  .message__text {
    text-align: center;

    blockquote {
      background: #fff;
      border-left: none;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";


      &:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
      }

      p {
        display: inline;
      }
    }
  }
}